
<template name="effect_page">
	<div class="container main_content effect-page">
		<h3 class="main-title">
		 	EFFECT
		</h3>


<div style="float: left; overflow: auto;">
<div class="effect1 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d g-transform-origin__right">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipFace artwork__flipBack">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run1" style="margin: 50px;">Run</button>
</div>

<div style="float: left; overflow: auto;">
<div class="effect2 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipFace artwork__flipBack">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run2" style="margin: 50px;">Run</button>
</div>

<div style="float: left; overflow: auto;">
<div class="effect3 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipHide">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run3" style="margin: 50px;">Run</button>
</div>


	</div>
</template>

<template name="effect_real">
	{{ layout "layout3" "add_post#flip01"}}	
	<button class="back">Back</button>
	<button class="face">Face</button>
</template>