<head>
	<title>module-c</title>
</head>

<body>
	{{ mainLayout }}	
</body>
<template name="main">
	{{ layout "layout1" "page"}}
	{{ layout "layout2" "add_post"}}
	{{> error_message}}
	{{> effect_page}}
	{{> effect_real}}
	<a href="#github_link"><img class="github-ribbon" style="position: absolute; top: 0; right: 0; border: 0;" src="/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
	
</template>
<template name="page">
	<div class="container main_content">
		<h3 class="main-title">
		 	POST
		</h3>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{{ layout "layout_post" "display_post"}}
				</div>
				<div class="span3 list-posts">
					<ul>
					{{#each posts}}
						<li class="postTitle_meth {{ select _id }}"> {{ title }} </li>
					{{/each}}
					</ul>
					<button type="button" class="button-metro btn switchLayout_meth">Switch Layout</button>
				</div>
			</div>
		</div>	
	</div>
</template>

<template name="display_post">
		{{#each post}}
		<h4>{{ title }}<i style="float: right;">{{ date }}</i></h4>					
		<div class="line">
			{{ content }}
			<div class="list-icon">
				<i class="icon-pencil"></i><i class="icon-remove remove_meth"></i>
			</div>	
		</div>
		{{/each}}
</template>	

<template name="add_post">
	<div class="container main_content add-post">
		<h3 class="main-title">
		 	NEW POST
		</h3>
		<input type="text" class="title" placeholder="title"/>
		<textarea rows="3" class="content" placeholder="content"></textarea>
		<input type="text" class="description" placeholder="description"/>
		<button type="button" class="button-metro btn">Create</button>
	</div>
</template>
<template name="edit_post">
	<div class="container main_content edit-post">
		<h3 class="main-title">
		 	EDIT POST
		</h3>
	</div>
</template>

<template name="error_message">
<div id="error-message" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Error Message</h3>
	</div>
	<div class="modal-body">
		<div class="error-message">
			{{ error.reason }}			
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
</template>

<template name="effect_page">
	<div class="container main_content effect-page">
		<h3 class="main-title">
		 	EFFECT
		</h3>
<div style="float: left; overflow: auto;">
<div class="effect1 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d g-transform-origin__right">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipFace artwork__flipBack">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run1" style="margin: 50px;">Run</button>
</div>

<div style="float: left; overflow: auto;">
<div class="effect2 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipFace artwork__flipBack">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run2" style="margin: 50px;">Run</button>
</div>

<div style="float: left; overflow: auto;">
<div class="effect3 artwork transform3d" style="width: 150px; height: 150px;">
	<div class="artwork__flipContainer g-transform-3d">
		<div class="artwork__flipFace">
			   <div class="image artwork__img g-opacity-transition image__hasPlaceholder image__hasPlaceholder-track image__hasPlaceholder-150" style="width: 150px; height: 150px;">
					<img src="https://i1.sndcdn.com/artworks-000037488201-5afqlr-t200x200.jpg?86be403" width="150" height="150" alt="Direct from Hollywood: Bridgit Mendler Dishes On The New 'Bachelor'" class="image__full g-opacity-transition" style="opacity: 1;"/>
				</div>
			 
		</div>
		<div class="artwork__flipHide">
			<div class="image image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-150" style="width: 150px; height: 150px;">
				<img src="https://i1.sndcdn.com/avatars-000025466282-26z726-t200x200.jpg?86be403" width="150" height="150" alt="On Air with Ryan Seacrest’s avatar" class="image__full g-opacity-transition" style="opacity: 1;"/>
			</div>
			<div class="userInfo">
				<a class="userInfo__title sc-link-dark">On Air with Ryan Seacrest</a>
				<ul class="userInfo__stats sc-ministats-group">
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-sounds" title="2348 sounds">2348</li>
					<li class="userInfo__statsItem sc-ministats sc-ministats-small sc-ministats-followers" title="161812 followers">161812</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<button class="run3" style="margin: 50px;">Run</button>
</div>




	</div>
</template>

<template name="effect_real">
	{{ layout "layout3" "add_post#flip01"}}	
	<button class="back">Back</button>
	<button class="face">Face</button>
</template>