<head>
	<title>module-c</title>
</head>

<body>
	{{ mainLayout }}	
</body>
<template name="main">
	{{ layout "main" "router_page"}}
</template>

<template name="main-save">
	{{ layout "layout1" "page"}}
	{{ layout "layout2" "add_post"}}
	{{> error_message}}
	{{> effect_page}}
	{{> effect_real}}
	{{> router_page}}
	<a href="#github_link"><img class="github-ribbon" style="position: absolute; top: 0; right: 0; border: 0;" src="/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>	
</template>
<template name="page">
	<div class="container main_content">
		<h3 class="main-title">
		 	POST
		</h3>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{{ layout "layout_post" "display_post"}}
				</div>
				<div class="span3 list-posts">
					<ul>
					{{#each posts}}
						<li class="postTitle_meth {{ select _id }}"> {{ title }} </li>
					{{/each}}
					</ul>
					<button type="button" class="button-metro btn switchLayout_meth">Switch Layout</button>
				</div>
			</div>
		</div>	
	</div>
</template>

<template name="display_post">
		{{#each post}}
		<h4>{{ title }}<i style="float: right;">{{ date }}</i></h4>					
		<div class="line">
			{{ content }}
			<div class="list-icon">
				<i class="icon-pencil"></i><i class="icon-remove remove_meth"></i>
			</div>	
		</div>
		{{/each}}
</template>	

<template name="add_post">
	<div class="container main_content add-post">
		<h3 class="main-title">
		 	NEW POST
		</h3>
		<input type="text" class="title" placeholder="title"/>
		<textarea rows="3" class="content" placeholder="content"></textarea>
		<input type="text" class="description" placeholder="description"/>
		<button type="button" class="button-metro btn">Create</button>
	</div>
</template>
<template name="edit_post">
	<div class="container main_content edit-post">
		<h3 class="main-title">
		 	EDIT POST
		</h3>
	</div>
</template>

<template name="error_message">
<div id="error-message" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Error Message</h3>
	</div>
	<div class="modal-body">
		<div class="error-message">
			{{ error.reason }}			
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
</template>